<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%- include('../components/head')%>
    </head>
</head>
<body>
    <header>
        <%- include('../components/header')%>
            <h3>User Registration</h3>
    </header>

    <main>
        <div class = 'center'>

            <%if(status == true){%>
               <p>You have applied for change the password, click below link to set new password </p>
              <a href="/setpwd?id=<%=email%>&token=<%=token%>"><%= token %></a>
            <%}%>
        </div>
    </main>
</body>
</html>